In [1]:
import pandas_datareader as pdr
import pandas as pd
import datetime
import matplotlib.pyplot as plt

In [ ]:
start = datetime.datetime(2017, 1, 1)
end = datetime.datetime(2021, 3, 31)

In [ ]:
# KOSPI
# link = 'http://kind.krx.co.kr/corpgeneral/corpList.do?method=download&marketType=stockMkt'

In [30]:
df = pd.read_excel('./data/KOSPI200_list.xlsx')
df.rename(columns={'회사명':'name', '종목코드':'code'}, inplace=True)

In [32]:
df.loc[df['code']== 375500]

    name    code      업종      주요제품        상장일  결산월 대표자명 홈페이지     지역
0  DL이앤씨  375500  토목 건설업  토목 건설 사업 2021-01-25  12월  마창민  NaN  서울특별시

In [25]:
code_list = sorted(df['code'].to_list())
code_list = [f'{x:06d}' for x in code_list]

In [26]:
code_list

['000070',
 '000080',
 '000100',
 '000120',
 '000150',
 '000210',
 '000240',
 '000270',
 '000660',
 '000670',
 '000720',
 '000810',
 '000880',
 '000990',
 '001040',
 '001060',
 '001120',
 '001230',
 '001450',
 '001680',
 '001740',
 '001800',
 '002350',
 '002380',
 '002790',
 '003000',
 '003090',
 '003230',
 '003240',
 '003410',
 '003490',
 '003520',
 '003550',
 '003670',
 '003850',
 '004000',
 '004020',
 '004170',
 '004370',
 '004490',
 '004800',
 '004990',
 '005180',
 '005250',
 '005300',
 '005380',
 '005440',
 '005490',
 '005610',
 '005830',
 '005930',
 '005940',
 '006120',
 '006260',
 '006280',
 '006360',
 '006390',
 '006400',
 '006650',
 '006800',
 '007070',
 '007310',
 '007570',
 '007700',
 '008350',
 '008560',
 '008770',
 '008930',
 '009150',
 '009240',
 '009410',
 '009420',
 '009540',
 '009830',
 '010060',
 '010120',
 '010130',
 '010140',
 '010620',
 '010780',
 '010950',
 '011070',
 '011170',
 '011200',
 '011210',
 '011780',
 '011790',
 '012330',
 '012450',
 '012630',
 '012750',
 '013890',
 '014680',
 '014820',
 '015760',
 '016360',
 '016380',
 '017670',
 '017800',
 '018250',
 '018260',
 '018880',
 '019170',
 '020000',
 '020150',
 '020560',
 '021240',
 '023530',
 '024110',
 '026960',
 '028050',
 '028260',
 '028670',
 '029780',
 '030000',
 '030200',
 '031430',
 '032350',
 '032640',
 '032830',
 '033780',
 '034020',
 '034220',
 '034730',
 '035250',
 '035420',
 '035720',
 '036460',
 '036570',
 '039490',
 '042660',
 '042670',
 '047040',
 '047050',
 '047810',
 '049770',
 '051600',
 '051900',
 '051910',
 '052690',
 '055550',
 '057050',
 '064350',
 '064960',
 '066570',
 '068270',
 '069260',
 '069620',
 '069960',
 '071050',
 '071840',
 '073240',
 '078930',
 '079160',
 '079550',
 '081660',
 '086280',
 '086790',
 '088350',
 '090430',
 '093370',
 '096770',
 '097950',
 '103140',
 '105560',
 '105630',
 '108670',
 '111770',
 '112610',
 '114090',
 '115390',
 '120110',
 '128940',
 '138930',
 '139480',
 '145990',
 '161390',
 '161890',
 '180640',
 '185750',
 '192080',
 '192400',
 '192820',
 '204320',
 '207940',
 '214320',
 '241560',
 '241590',
 '251270',
 '267250',
 '271560',
 '272210',
 '282330',
 '284740',
 '285130',
 '294870',
 '316140',
 '326030',
 '336260',
 '352820',
 '375500']

In [27]:
df = pdr.DataReader('375500.KS', 'yahoo')

In [28]:
df

              High     Low    Open   Close   Volume  Adj Close
Date
2021-01-25  136000  118500  133000  127500  3005049     127500
2021-01-26  131500  126000  130000  126500   934050     126500
2021-01-27  128000  116500  126500  117500  1082796     117500
2021-01-28  125000  113000  114500  120000   825898     120000
2021-01-29  122000  111000  122000  111500  1105949     111500
2021-02-01  118500  110000  111000  118000   641899     118000
2021-02-02  124500  118000  121000  121000   813663     121000
2021-02-03  128000  121500  122500  125000   669478     125000
2021-02-04  130000  119500  128000  122500   941318     122500
2021-02-05  123500  118500  121500  120000   431200     120000
2021-02-08  126000  119500  120000  120500   336866     120500
2021-02-09  122500  117000  122000  117500   312569     117500
2021-02-10  118500  114500  118000  116500   329290     116500
2021-02-15  118000  113500  117000  114500   316975     114500
2021-02-16  117000  114500  115500  115500   224152     115500
2021-02-17  116000  112000  116000  113500   264784     113500
2021-02-18  115500  112500  114000  112500   372837     112500
2021-02-19  114500  111000  112500  113500   271869     113500
2021-02-22  114500  111000  114000  111000   284773     111000
2021-02-23  113000  110000  111000  110500   336363     110500
2021-02-24  111500  103500  111000  104000   599492     104000
2021-02-25  117500  106000  107000  116500   732921     116500
2021-02-26  112500  108000  110500  111000   770923     111000
2021-03-02  114500  108000  113000  109000   480821     109000
2021-03-03  112000  108000  108500  111000   244241     111000
2021-03-04  114000  109500  111500  111500   380737     111500
2021-03-05  110500  108000  109000  109500   266673     109500
2021-03-08  111000  107000  110500  107000   244839     107000
2021-03-09  113000  107000  108500  112500   436668     112500
2021-03-10  116000  111000  114500  112000   353152     112000
2021-03-11  116500  112000  112500  115000   468461     115000
2021-03-12  119000  115000  118000  118500   399619     118500
2021-03-15  124000  118500  120000  121000   576382     121000
2021-03-16  123500  120000  123000  121000   351007     121000
2021-03-17  123000  118500  121500  123000   330487     123000
2021-03-18  123500  119500  123000  120000   320933     120000
2021-03-19  121500  117000  118000  119000   320866     119000
2021-03-22  121500  119000  121000  120500   342185     120500
2021-03-23  125500  119500  120500  121000   619060     121000
2021-03-24  122500  119000  120500  122500   218354     122500
2021-03-25  124500  121000  122500  124000   353409     124000
2021-03-26  126500  124000  125000  124500   305464     124500
2021-03-29  126500  123000  126000  124000   291939     124000
2021-03-30  125500  120500  125000  121000   290605     121000
2021-03-31  122000  120000  121000  120500   208816     120500
2021-04-01  121500  118500  121000  119500   252464     119500
2021-04-02  120500  118500  120000  120000   245088     120000
2021-04-05  122000  120000  120500  120500   193731     120500
2021-04-06  123000  121000  121500  122000   288483     122000
2021-04-07  123000  121000  122500  123000   215207     123000
2021-04-08  129000  122000  123000  127000   766206     127000
2021-04-09  128500  126000  127000  127000   262323     127000
2021-04-12  128000  125500  127000  127500   189560     127500
2021-04-13  128000  126000  127500  127000   214142     127000
2021-04-14  131000  127000  127500  130000   291306     130000
2021-04-15  134500  130500  130500  134000   391941     134000
2021-04-16  136000  132000  134500  134500   282480     134500

In [14]:
df

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
0,DL이앤씨,375500,토목 건설업,토목 건설 사업,2021-01-25,12월,마창민,NaN,서울특별시
1,하이브,352820,오디오물 출판 및 원판 녹음업,"음악 기획/제작, 퍼블리싱, 아티스트 매니지먼트",2020-10-15,12월,방시혁,http://www.bighitcorp.com,서울특별시
2,에스케이바이오팜,326030,자연과학 및 공학 연구개발업,신경질환 및 정신질환을 포함한 중추신경 관련 신약 개발,2020-07-02,12월,조정우,NaN,경기도
3,한화시스템,272210,전자부품 제조업,"정밀기기(육해공군관련전자제어시스템,열영상감시장비,탐지추적장치,전투지휘체계시스템) 제조",2019-11-13,12월,김연철,http://hanwhasystems.com,경상북도
4,지누스,13890,가구 제조업,매트리스 및 가구제품,2019-10-30,12월,이윤재,http://www.zinus.co.kr,경기도
...,...,...,...,...,...,...,...,...,...
196,삼양홀딩스,70,기타 금융업,"지주회사,경영자문컨설팅",1968-12-27,12월,"엄태웅, 윤재엽",http://www.samyang.com,서울특별시
197,한국앤컴퍼니,240,기타 금융업,비금융지주회사,1968-12-27,12월,조현범,http://www.hankook-technologygroup.com,경기도
198,대한항공,3490,항공 여객 운송업,"여객운송,화물운송,항공기 제조,판매,정비수리/기내식 제조판매,면세품 판매",1966-03-18,12월,"조원태, 우기홍",http://www.koreanair.com,서울특별시
199,유한양행,100,의약품 제조업,"의약품(삐콤씨,알마겔,세파졸린주사,아코텍스주사,이세파신,신생아호흡곤란치료제 등),생...",1962-11-01,12월,대표이사 조욱제,http://www.yuhan.co.kr,서울특별시
200,CJ대한통운,120,도로 화물 운송업,"Contract Logistics, 포워딩, 항만하역, 해운, 택배국제특송, SCM...",1956-07-02,12월,강신호,http://www.cjlogistics.com,서울특별시

In [3]:
start = datetime.datetime(2017, 1, 1)
end = datetime.datetime(2021, 3, 31)

df_null = pdr.DataReader('^KS11', "yahoo", start,end)

In [4]:
df_null

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2017-01-02,2031.790039,2015.680054,2022.229980,2026.160034,229900.0,2026.160034
2017-01-03,2044.069946,2028.469971,2034.310059,2043.969971,268100.0,2043.969971
2017-01-04,2046.290039,2040.609985,2046.290039,2045.640015,371500.0,2045.640015
2017-01-05,2046.500000,2039.489990,2045.520020,2041.949951,541300.0,2041.949951
2017-01-06,2051.840088,2045.660034,2048.110107,2049.120117,455400.0,2049.120117
...,...,...,...,...,...,...
2021-03-25,3024.629883,2987.830078,2995.669922,3008.330078,940400.0,3008.330078
2021-03-26,3041.860107,3012.790039,3012.790039,3041.010010,1036400.0,3041.010010
2021-03-29,3054.209961,3025.389893,3047.709961,3036.040039,1288800.0,3036.040039
2021-03-30,3074.570068,3038.439941,3038.439941,3070.000000,1023100.0,3070.000000
2021-03-31,3093.889893,3061.399902,3073.389893,3061.419922,1147000.0,3061.419922

In [2]:
pdr.D