In [21]:
import pandas_datareader as pdr
import pandas as pd
import datetime
import matplotlib.pyplot as plt
from tqdm import tqdm
import numpy as np

In [6]:
start = datetime.datetime(2017, 1, 1)
end = datetime.datetime(2021, 3, 31)

In [ ]:
# KOSPI
# link = 'http://kind.krx.co.kr/corpgeneral/corpList.do?method=download&marketType=stockMkt'

In [30]:
df = pd.read_excel('./data/KOSPI200_list.xlsx')
df.rename(columns={'회사명':'name', '종목코드':'code'}, inplace=True)

In [9]:
df = pd.read_excel("./data/KOSPI_list.xlsx")
df.rename(columns={'회사명':'name', '종목코드':'code'}, inplace=True)

In [32]:
df.loc[df['code']== 375500]

    name    code      업종      주요제품        상장일  결산월 대표자명 홈페이지     지역
0  DL이앤씨  375500  토목 건설업  토목 건설 사업 2021-01-25  12월  마창민  NaN  서울특별시

In [35]:
code_list = sorted(df['code'].to_list())
code_list = [f'{x:06d}' for x in code_list]

In [37]:
len(code_list)

804

In [38]:
code_list

['000020',
 '000040',
 '000050',
 '000060',
 '000070',
 '000080',
 '000100',
 '000120',
 '000140',
 '000150',
 '000180',
 '000210',
 '000220',
 '000230',
 '000240',
 '000270',
 '000300',
 '000320',
 '000370',
 '000390',
 '000400',
 '000430',
 '000480',
 '000490',
 '000500',
 '000520',
 '000540',
 '000590',
 '000640',
 '000650',
 '000660',
 '000670',
 '000680',
 '000700',
 '000720',
 '000760',
 '000810',
 '000850',
 '000860',
 '000880',
 '000890',
 '000910',
 '000950',
 '000970',
 '000990',
 '001020',
 '001040',
 '001060',
 '001070',
 '001080',
 '001120',
 '001130',
 '001140',
 '001200',
 '001210',
 '001230',
 '001250',
 '001260',
 '001270',
 '001290',
 '001340',
 '001360',
 '001380',
 '001390',
 '001420',
 '001430',
 '001440',
 '001450',
 '001460',
 '001470',
 '001500',
 '001510',
 '001520',
 '001530',
 '001550',
 '001560',
 '001570',
 '001620',
 '001630',
 '001680',
 '001720',
 '001740',
 '001750',
 '001770',
 '001780',
 '001790',
 '001800',
 '001820',
 '001880',
 '001940',
 '002020',
 '002030',
 '002070',
 '002100',
 '002140',
 '002150',
 '002170',
 '002200',
 '002210',
 '002220',
 '002240',
 '002270',
 '002310',
 '002320',
 '002350',
 '002360',
 '002380',
 '002390',
 '002410',
 '002420',
 '002450',
 '002460',
 '002600',
 '002620',
 '002630',
 '002690',
 '002700',
 '002710',
 '002720',
 '002760',
 '002780',
 '002790',
 '002810',
 '002820',
 '002840',
 '002870',
 '002880',
 '002900',
 '002920',
 '002960',
 '002990',
 '003000',
 '003010',
 '003030',
 '003060',
 '003070',
 '003080',
 '003090',
 '003120',
 '003160',
 '003200',
 '003220',
 '003230',
 '003240',
 '003280',
 '003300',
 '003350',
 '003410',
 '003460',
 '003470',
 '003480',
 '003490',
 '003520',
 '003530',
 '003540',
 '003550',
 '003560',
 '003570',
 '003580',
 '003610',
 '003620',
 '003650',
 '003670',
 '003680',
 '003690',
 '003720',
 '003780',
 '003830',
 '003850',
 '003920',
 '003960',
 '004000',
 '004020',
 '004060',
 '004080',
 '004090',
 '004100',
 '004140',
 '004150',
 '004170',
 '004250',
 '004270',
 '004310',
 '004360',
 '004370',
 '004380',
 '004410',
 '004430',
 '004440',
 '004450',
 '004490',
 '004540',
 '004560',
 '004690',
 '004700',
 '004710',
 '004720',
 '004770',
 '004800',
 '004830',
 '004840',
 '004870',
 '004890',
 '004910',
 '004920',
 '004960',
 '004970',
 '004980',
 '004990',
 '005010',
 '005030',
 '005070',
 '005090',
 '005110',
 '005180',
 '005250',
 '005300',
 '005320',
 '005360',
 '005380',
 '005390',
 '005420',
 '005430',
 '005440',
 '005490',
 '005500',
 '005610',
 '005680',
 '005690',
 '005720',
 '005740',
 '005750',
 '005800',
 '005810',
 '005820',
 '005830',
 '005850',
 '005870',
 '005880',
 '005930',
 '005940',
 '005950',
 '005960',
 '006040',
 '006060',
 '006090',
 '006110',
 '006120',
 '006200',
 '006220',
 '006260',
 '006280',
 '006340',
 '006360',
 '006370',
 '006380',
 '006390',
 '006400',
 '006490',
 '006570',
 '006650',
 '006660',
 '006740',
 '006800',
 '006840',
 '006880',
 '006890',
 '006980',
 '007070',
 '007110',
 '007120',
 '007160',
 '007210',
 '007280',
 '007310',
 '007340',
 '007460',
 '007540',
 '007570',
 '007590',
 '007610',
 '007630',
 '007660',
 '007690',
 '007700',
 '007810',
 '007860',
 '007980',
 '008040',
 '008060',
 '008110',
 '008250',
 '008260',
 '008350',
 '008420',
 '008490',
 '008500',
 '008560',
 '008600',
 '008700',
 '008730',
 '008770',
 '008870',
 '008930',
 '008970',
 '009070',
 '009140',
 '009150',
 '009160',
 '009180',
 '009190',
 '009200',
 '009240',
 '009270',
 '009290',
 '009310',
 '009320',
 '009410',
 '009420',
 '009440',
 '009450',
 '009460',
 '009470',
 '009540',
 '009580',
 '009680',
 '009770',
 '009810',
 '009830',
 '009900',
 '009970',
 '010040',
 '010050',
 '010060',
 '010100',
 '010120',
 '010130',
 '010140',
 '010400',
 '010420',
 '010580',
 '010600',
 '010620',
 '010640',
 '010660',
 '010690',
 '010770',
 '010780',
 '010820',
 '010950',
 '010960',
 '011000',
 '011070',
 '011090',
 '011150',
 '011170',
 '011200',
 '011210',
 '011230',
 '011280',
 '011300',
 '011330',
 '011390',
 '011420',
 '011500',
 '011690',
 '011700',
 '011760',
 '011780',
 '011790',
 '011810',
 '011930',
 '012030',
 '012160',
 '012170',
 '012200',
 '012280',
 '012320',
 '012330',
 '012450',
 '012510',
 '012600',
 '012610',
 '012630',
 '012690',
 '012750',
 '012800',
 '013000',
 '013360',
 '013520',
 '013570',
 '013580',
 '013700',
 '013870',
 '013890',
 '014130',
 '014160',
 '014280',
 '014440',
 '014530',
 '014580',
 '014680',
 '014710',
 '014790',
 '014820',
 '014830',
 '014910',
 '014990',
 '015020',
 '015230',
 '015260',
 '015350',
 '015360',
 '015540',
 '015590',
 '015760',
 '015860',
 '015890',
 '016090',
 '016360',
 '016380',
 '016450',
 '016580',
 '016590',
 '016610',
 '016710',
 '016740',
 '016800',
 '016880',
 '017040',
 '017180',
 '017370',
 '017390',
 '017550',
 '017670',
 '017800',
 '017810',
 '017900',
 '017940',
 '017960',
 '018250',
 '018260',
 '018470',
 '018500',
 '018670',
 '018880',
 '019170',
 '019180',
 '019440',
 '019490',
 '019680',
 '020000',
 '020120',
 '020150',
 '020560',
 '020760',
 '021050',
 '021240',
 '021820',
 '023000',
 '023150',
 '023350',
 '023450',
 '023530',
 '023590',
 '023800',
 '023810',
 '023960',
 '024070',
 '024090',
 '024110',
 '024720',
 '024890',
 '024900',
 '025000',
 '025530',
 '025540',
 '025560',
 '025620',
 '025750',
 '025820',
 '025860',
 '025890',
 '026890',
 '026940',
 '026960',
 '027410',
 '027740',
 '027970',
 '028050',
 '028100',
 '028260',
 '028670',
 '029460',
 '029530',
 '029780',
 '030000',
 '030200',
 '030210',
 '030610',
 '030720',
 '030790',
 '031430',
 '031440',
 '031820',
 '032350',
 '032560',
 '032640',
 '032830',
 '033180',
 '033240',
 '033250',
 '033270',
 '033530',
 '033660',
 '033780',
 '033920',
 '034020',
 '034120',
 '034220',
 '034300',
 '034310',
 '034590',
 '034730',
 '034830',
 '035000',
 '035150',
 '035250',
 '035420',
 '035510',
 '035720',
 '036420',
 '036460',
 '036530',
 '036570',
 '036580',
 '037270',
 '037560',
 '037710',
 '039130',
 '039490',
 '039570',
 '041650',
 '042660',
 '042670',
 '042700',
 '044380',
 '044450',
 '044820',
 '047040',
 '047050',
 '047400',
 '047810',
 '049770',
 '049800',
 '051600',
 '051630',
 '051900',
 '051910',
 '052690',
 '053210',
 '053690',
 '055490',
 '055550',
 '057050',
 '058430',
 '058650',
 '058730',
 '058850',
 '058860',
 '060980',
 '063160',
 '064350',
 '064960',
 '066570',
 '067830',
 '068270',
 '068290',
 '068400',
 '069260',
 '069460',
 '069620',
 '069640',
 '069730',
 '069960',
 '070960',
 '071050',
 '071090',
 '071320',
 '071840',
 '071950',
 '071970',
 '072130',
 '072710',
 '073240',
 '074610',
 '075180',
 '075580',
 '077500',
 '077970',
 '078000',
 '078520',
 '078930',
 '079160',
 '079430',
 '079550',
 '079980',
 '081000',
 '081660',
 '082640',
 '082740',
 '083420',
 '084010',
 '084670',
 '084680',
 '084690',
 '084870',
 '085310',
 '085620',
 '086280',
 '086790',
 '088260',
 '088350',
 '088790',
 '088980',
 '089470',
 '089590',
 '090080',
 '090350',
 '090370',
 '090430',
 '091090',
 '091810',
 '092200',
 '092220',
 '092230',
 '092440',
 '092780',
 '093050',
 '093230',
 '093240',
 '093370',
 '094280',
 '094800',
 '095570',
 '095720',
 '096300',
 '096760',
 '096770',
 '097230',
 '097950',
 '100220',
 '100250',
 '100840',
 '101060',
 '101140',
 '101530',
 '102260',
 '102280',
 '102460',
 '103140',
 '103590',
 '104700',
 '105560',
 '105630',
 '105840',
 '107590',
 '108670',
 '109070',
 '111110',
 '111770',
 '112610',
 '114090',
 '115390',
 '117580',
 '118000',
 '119650',
 '120030',
 '120110',
 '122900',
 '123690',
 '123700',
 '123890',
 '126560',
 '128820',
 '128940',
 '129260',
 '130660',
 '133820',
 '134380',
 '134790',
 '136490',
 '138040',
 '138250',
 '138490',
 '138930',
 '139130',
 '139480',
 '140910',
 '143210',
 '144620',
 '145210',
 '145270',
 '145720',
 '145990',
 '152550',
 '153360',
 '155660',
 '155900',
 '161000',
 '161390',
 '161890',
 '163560',
 '168490',
 '170900',
 '172580',
 '175330',
 '180640',
 '181710',
 '183190',
 '185750',
 '192080',
 '192400',
 '192650',
 '192820',
 '194370',
 '195870',
 '200880',
 '204210',
 '204320',
 '207940',
 '210540',
 '210980',
 '213500',
 '214320',
 '214330',
 '214390',
 '214420',
 '226320',
 '227840',
 '229640',
 '234080',
 '241560',
 '241590',
 '244920',
 '248070',
 '248170',
 '249420',
 '251270',
 '264900',
 '267250',
 '267260',
 '267270',
 '267290',
 '267850',
 '268280',
 '271560',
 '271980',
 '272210',
 '272450',
 '272550',
 '280360',
 '281820',
 '282330',
 '282690',
 '284740',
 '285130',
 '286940',
 '293480',
 '293940',
 '294870',
 '298000',
 '298020',
 '298040',
 '298050',
 '298690',
 '300720',
 '302440',
 '306200',
 '307950',
 '308170',
 '316140',
 '317400',
 '322000',
 '326030',
 '330590',
 '334890',
 '336260',
 '336370',
 '338100',
 '339770',
 '344820',
 '348950',
 '350520',
 '352820',
 '353200',
 '357120',
 '357250',
 '363280',
 '365550',
 '375500',
 '378850',
 '900140',
 '950210']

In [56]:
df_list = []
for code in tqdm(code_list):
    df = pdr.DataReader(code+'.KS', 'yahoo', start, end)    
    df_list.append(df['Close'].rename(code))

100%|███████████████████████████████████████████████████████████████████████| 804/804 [32:16<00:00,  2.41s/it]

In [57]:
K_df = pd.concat(df_list, axis=1)

In [58]:
K_df.to_csv('./data/KOSPI_close.csv')

In [60]:
K_df['000020'].

Date
2017-01-02     8110.0
2017-01-03     8110.0
2017-01-04     8150.0
2017-01-05     8210.0
2017-01-06     8160.0
               ...
2021-03-25    14200.0
2021-03-26    14200.0
2021-03-29    14200.0
2021-03-30    14150.0
2021-03-31    14250.0
Name: 000020, Length: 1034, dtype: float64

In [44]:
df0 = pdr.DataReader('000020.KS', 'yahoo', start, end)

In [45]:
df1 = pdr.DataReader('000040.KS', 'yahoo', start, end)

In [48]:
df0['Close'].concat(df1['Close'])

AttributeError: 'Series' object has no attribute 'concat'

In [51]:
pd.concat([df0['Close'], df1['Close']], axis=1)

              Close        Close
Date
2017-01-02   8110.0  5327.997559
2017-01-03   8110.0  5489.997070
2017-01-04   8150.0  5531.997070
2017-01-05   8210.0  5567.997070
2017-01-06   8160.0  5531.997070
...             ...          ...
2021-03-25  14200.0  1385.000000
2021-03-26  14200.0  1345.000000
2021-03-29  14200.0  1290.000000
2021-03-30  14150.0  1320.000000
2021-03-31  14250.0  1315.000000

[1034 rows x 2 columns]

In [40]:
df

               High      Low     Open    Close    Volume     Adj Close
Date
2016-04-20   9210.0   8930.0   9070.0   8960.0  232922.0   8364.169922
2016-04-21   9050.0   8890.0   9020.0   8930.0  136782.0   8336.166992
2016-04-22   9040.0   8890.0   9000.0   8930.0   98225.0   8336.166992
2016-04-25   9630.0   8950.0   8950.0   9630.0  907794.0   8989.617188
2016-04-26   9900.0   9500.0   9600.0   9530.0  797621.0   8896.265625
...             ...      ...      ...      ...       ...           ...
2021-04-12  15550.0  15050.0  15150.0  15500.0  300002.0  15500.000000
2021-04-13  15550.0  15250.0  15500.0  15300.0  186169.0  15300.000000
2021-04-14  15950.0  15100.0  15250.0  15800.0  433602.0  15800.000000
2021-04-15  15900.0  15450.0  15850.0  15600.0  204149.0  15600.000000
2021-04-16  15650.0  15350.0  15600.0  15400.0  208989.0  15400.000000

[1220 rows x 6 columns]

In [41]:
df = pdr.DataReader('375500.KS', 'yahoo', start, end)

In [3]:
start = datetime.datetime(2017, 1, 1)
end = datetime.datetime(2021, 3, 31)

df_null = pdr.DataReader('^KS11', "yahoo", start,end)

In [4]:
df_null

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2017-01-02,2031.790039,2015.680054,2022.229980,2026.160034,229900.0,2026.160034
2017-01-03,2044.069946,2028.469971,2034.310059,2043.969971,268100.0,2043.969971
2017-01-04,2046.290039,2040.609985,2046.290039,2045.640015,371500.0,2045.640015
2017-01-05,2046.500000,2039.489990,2045.520020,2041.949951,541300.0,2041.949951
2017-01-06,2051.840088,2045.660034,2048.110107,2049.120117,455400.0,2049.120117
...,...,...,...,...,...,...
2021-03-25,3024.629883,2987.830078,2995.669922,3008.330078,940400.0,3008.330078
2021-03-26,3041.860107,3012.790039,3012.790039,3041.010010,1036400.0,3041.010010
2021-03-29,3054.209961,3025.389893,3047.709961,3036.040039,1288800.0,3036.040039
2021-03-30,3074.570068,3038.439941,3038.439941,3070.000000,1023100.0,3070.000000
2021-03-31,3093.889893,3061.399902,3073.389893,3061.419922,1147000.0,3061.419922

In [18]:
df = pd.read_csv("./data/KOSPI_close.csv", index_col='Date')

In [24]:
log_df = np.diff(np.log(df))

In [28]:
log_df = np.log(df) - np.log(df.shift())

In [29]:
log_df.cov()

,000020,000040,000050,000060,000070,000080,000100,000120,000140,000150,...,352820,353200,357120,357250,363280,365550,375500,378850,900140,950210
000020,0.000958,0.000124,0.000083,0.000089,0.000103,0.000103,0.000173,0.000060,0.000058,0.000199,...,0.000397,0.000143,2.188979e-05,0.000006,0.000277,0.000095,0.000360,0.000045,0.000131,0.000435
000040,0.000124,0.001486,0.000082,0.000126,0.000151,0.000095,0.000106,0.000071,0.000116,0.000173,...,0.000128,0.000192,1.566287e-05,0.000030,0.000143,0.000058,0.000358,-0.000095,0.000348,0.000262
000050,0.000083,0.000082,0.000516,0.000082,0.000120,0.000078,0.000068,0.000055,0.000066,0.000126,...,0.000106,0.000082,2.709289e-08,0.000009,0.000122,0.000038,0.000025,-0.000023,0.000148,0.000149
000060,0.000089,0.000126,0.000082,0.000387,0.000109,0.000087,0.000054,0.000045,0.000070,0.000180,...,0.000075,0.000105,1.150779e-05,0.000039,0.000053,-0.000004,-0.000008,0.000195,0.000180,0.000095
000070,0.000103,0.000151,0.000120,0.000109,0.000669,0.000130,0.000129,0.000114,0.000126,0.000278,...,0.000069,0.000053,1.758061e-05,0.000032,0.000077,0.000072,0.000086,0.000056,0.000120,0.000159
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365550,0.000095,0.000058,0.000038,-0.000004,0.000072,0.000019,0.000072,0.000074,0.000037,0.000082,...,0.000155,0.000132,2.040623e-06,0.000013,0.000114,0.000195,0.000152,-0.000128,-0.000043,0.000096
375500,0.000360,0.000358,0.000025,-0.000008,0.000086,0.000162,0.000207,0.000370,0.000181,0.000325,...,0.000602,0.000469,2.314773e-05,-0.000007,0.000406,0.000152,0.001074,-0.000585,0.000107,0.000952
378850,0.000045,-0.000095,-0.000023,0.000195,0.000056,-0.000344,-0.000114,-0.000295,0.000222,-0.000243,...,-0.000451,0.000209,-8.062863e-07,0.000097,0.000030,-0.000128,-0.000585,0.002268,0.000187,0.000050
900140,0.000131,0.000348,0.000148,0.000180,0.000120,0.000135,0.000109,0.000093,0.000113,0.000222,...,0.000513,0.000150,-9.780157e-06,-0.000015,0.000162,-0.000043,0.000107,0.000187,0.000874,0.000046
950210,0.000435,0.000262,0.000149,0.000095,0.000159,0.000193,0.000169,0.000131,0.000216,0.000108,...,0.000288,0.000744,2.046866e-05,0.000020,0.000196,0.000096,0.000952,0.000050,0.000046,0.002821